body {
    background: white;
    color: white;
    font-family: 'Roboto';
}

.calc {
    background: #ffc3c3;
    width: 315px;
    height: 485px;
    margin: auto;
    margin-top: 100px;
    padding: 5px;
}
.key {
    background: #2C2C2C;
    font-size: 55px;
    text-align: center;
    cursor: pointer;
}
.key:active{
    opacity: 0.9;
    transform: scale(0.97);
}
._grid {
    display: grid;
    grid-template-columns: repeat(4, 75px);
    grid-template-rows: 85px repeat(5, 75px);
    gap: 5px;
}
._tablet{
    grid-column: span 4;

}
.tablet{
    background: #FFFFFF;
    height: 85px;
    color: black;
    font-size: 64px;
    text-align: right;
    display: flex;
    justify-content: end;
    align-items: center;
    overflow: hidden;
    letter-spacing: 5px;
    font-weight: 700;
}
.tablet .font_size48px{
    font-size: 48px;
    letter-spacing: 3px;
    font-weight: 600;
}
.tablet .font_size36px{
    font-size: 36px;
    letter-spacing: 1px;
    font-weight: 500;
}

.key_operation{
    background: #676767;
}

._c{
    background: #C02C3E;
    grid-row: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
._backspace{
    background: #26BEB5;
}

._eq{
    background: #DBC241;
    grid-column: span 3;
}